body {
    background-color: rgba(128, 128, 128, 0.507);
    color: white;
}

header {
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    display: inline-block;

}

/*Navigation bar*/
nav {
    float: right;
    font-size: 20px;
}

nav ul {
    list-style-type: none;

}

nav li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
}

.hero {
    min-height: 30vh;
    background-image: url(./images/Beautiful-Norway.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 25px 0;
    padding: 10px 0;
}

.proj-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
.card{
  border: 5px solid rgb(8, 33, 87);
  background-color: rgba(128, 128, 128, 0.507);
  color: white;
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

.big-card{
    min-height: 400px;
    flex-basis: 100%;
}

#proj-1{
    background-image: url("./images/kaleb1027.github.io_work-day-scheduler_\ \(2\).png");
    background-position: center center;
    background-size: cover;
}

#proj-2{
    background-image: url("./images/kaleb1027.github.io_horiseon-refactor_\ \(1\).png");
    background-position: center center;
    background-size: cover;
}

#proj-3{
    background-image: url("./images/kaleb1027.github.io_code-quiz_\ \(1\).png");
    background-position: center center;
    background-size: cover;
}

#proj-4{
    background-image: url("./images/kaleb1027.github.io_password-generator_\ \(1\).png");
    background-position: center center;
    background-size: cover;
}

#proj-5{
    background-image: url("./images/kaleb1027.github.io_weather-dashboard__.png");
    background-position: center center;
    background-size: cover;
}